In [1]:
import json
import pandas as pd

In [2]:
# Load dataset to a data frame
data = pd.read_csv(r'/content/movie_metadata.csv')

In [3]:
data.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [4]:
data.shape

(5043, 28)

In [5]:
# Create a new data frame with relevant columns only
df = data[['genres', 'movie_title', 'imdb_score', 'movie_imdb_link']].copy()

In [6]:
df

                               genres  ...                                    movie_imdb_link
0     Action|Adventure|Fantasy|Sci-Fi  ...  http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1            Action|Adventure|Fantasy  ...  http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2           Action|Adventure|Thriller  ...  http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3                     Action|Thriller  ...  http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4                         Documentary  ...  http://www.imdb.com/title/tt5289954/?ref_=fn_t...
...                               ...  ...                                                ...
5038                     Comedy|Drama  ...  http://www.imdb.com/title/tt3000844/?ref_=fn_t...
5039     Crime|Drama|Mystery|Thriller  ...  http://www.imdb.com/title/tt2071645/?ref_=fn_t...
5040            Drama|Horror|Thriller  ...  http://www.imdb.com/title/tt2107644/?ref_=fn_t...
5041             Comedy|Drama|Romance  ...  http://www.imdb.com/title/tt2070597/?ref_=fn_t...
5042                      Documentary  ...  http://www.imdb.com/title/tt0378407/?ref_=fn_t...

[5043 rows x 4 columns]

In [7]:
# Fetch genres of all movies
genres_all_movies = [df.loc[i]['genres'].split('|') for i in df.index]

In [8]:
# Find the list of genres of all movies in alphabetical order
genres = sorted(list(set([item for sublist in genres_all_movies for item in sublist])))

In [9]:
genres

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Thriller',
 'War',
 'Western']

In [11]:
# Initialize lists for movie data as well as titles
full_data = list()
movie_titles = list()

In [12]:
for i in df.index:
    # Append movie title and the index of the movie
    movie_titles.append((df.loc[i]['movie_title'].strip(), i, df.loc[i]['movie_imdb_link'].strip()))
    # Add list of genres of the movies (1/0) to movie data
    movie_data = [1 if genre in df.loc[i]['genres'].split('|') else 0 for genre in genres]
    # Add IMDb score of the movie to the movie data
    movie_data.append(df.loc[i]['imdb_score'])
    # Add record of movie to main data list
    full_data.append(movie_data)

In [ ]:
# Create JSON files for data and movie titles for faster load to the Recommmender
data_dump = r'data.json'
titles_dump = r'titles.json'
with open(data_dump, 'w+', encoding='utf-8') as f:
    json.dump(full_data, f)
with open(titles_dump, 'w+', encoding='utf-8') as f:
    json.dump(movie_titles, f)

In [13]:
# Create JSON files for data and movie titles for faster load to the Recommmender
data_dump = r'data.json'
titles_dump = r'titles.json'
with open(data_dump, 'w+', encoding='utf-8') as f:
    json.dump(full_data, f)
with open(titles_dump, 'w+', encoding='utf-8') as f:
    json.dump(movie_titles, f)